





<html>
    <body>
        <div>



   
<!--          
      <form action="/api/bodyofwater" method="post">
        <h2>Add a new body of water!</h2>
        <input id="addBodyOfWater" name="body_of_water" type="text"
        placeholder="add a new body of water" />
        <input type="submit" value="Submit" />
      </form> -->


      <form id="newPost">

          <input type="text" id="user_id" />
          <input type="text" id="newPostVal" />
        
        <button type="submit">Add</button>
      </form>


      <form action="/api/deleteWater" method="post" id="delete">


        <label for="waterLib">water library:</label>
    
            <select
                id="bodyWaterSelect" 
                type="text"  
                name="bodyWaterSelect" 
                placeholder="select body of water">
            </select>
    
          </label>
          <button type="submit">DELETE</button>
        </form>
    
    
        <a href="/"><button id="newMain">HOME</button></a>
    
    </div>
    
    
       
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    
    <script>

      //fetch username data


let userid = document.getElementById("user_id");


const fetchUsername = () => {
         fetch(`http://localhost:5500/api/userdata`) //api for the get request
        .then((response) => response.json())
        .then((data) => {
         console.log(data);
        
         userid.value = data.id;
    
        })

      }

      fetchUsername();
    
    let BASE_URL = "http://192.168.1.123:5500"
    
    const form = document.getElementById('newPost');
    
    form.addEventListener('submit', async event => {
      event.preventDefault();
    
      const fishVal = document.querySelector('#newPostVal').value;

      const userID = document.querySelector('#user_id').value;
    
      const postVal = {
        user_id: userID,
        body_of_water: fishVal
      };
    console.log(postVal);
      const submitBodyOfWater = await addBodyOfWater(postVal);
      //updateTodoList(submitBodyOfWater);
    });
    
    
      const addBodyOfWater = async postVal => {
      try {
        const response = await axios.post(`${BASE_URL}/api/bodyofwater`, 
         postVal,
        { headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        
        }
      });
        const newBodyOfWater = response.data;

        alert(`Added a new body of water!`, newBodyOfWater)
    
        console.log(`Added a new body of water!`, newBodyOfWater);

        window.location.href = "/";
    
        return newBodyOfWater;
      } catch (errors) {
        console.error(errors);
      }
    };
    
    
    </script>

        
<script>
    
  // fetch bait data and load it into the bait selection box
  
  
  let waterLib;
  
  let waterSelect = document.getElementById("bodyOfWater");
  
  const fetchWaterLib = () => {
       fetch(`http://localhost:5500/api/bodyofwater`) //api for the get request
      .then((response) => response.json())
      .then((data) => {
       console.log(data);
      
       waterLib = data;
  
      })
      .then(() => {
  
      // fill fishtype selection box with fishtype data from fishLib collection
  
      const bodyOfWaterMap = waterLib.map(water => {
  
        var option = document.createElement("option");
      option.text = water.body_of_water;
      bodyWaterSelect.add(option);
  
      })
  
    
  
      })
    }
  
    //fetchWaterLib();

    // use session storage instead of hitting our API

    let retrieveSessionWaterLib = sessionStorage.getItem("waterLib");

    if (!retrieveSessionWaterLib) {

        fetchWaterLib();

        console.log("water data fetched");

    }

    else {

      //parse session water lib data

        waterSessionParse = JSON.parse(retrieveSessionWaterLib);

        const bodyOfWaterMap = waterSessionParse.map(water => {

        var option = document.createElement("option");
        option.text = water.body_of_water;
        bodyWaterSelect.add(option);

        console.log("water data not fetched");

    })
    }

  
  
  
  
  </script>



        </div>
    </body>
</html>

