
<html>
    <body>
        <div>



   
            <form target="_blank" action="/api/bait" method="post" onsubmit="goHome()">
                <h2>Add a new bait!</h2>
                <input id="addBait" name="bait" type="text"
                placeholder="add a new bait" />
                <input type="submit" value="Submit"  />
              </form>
        
<script>
    function goHome(){
        window.location.href = "main";
        console.log("i am going home")
        
    }

</script>


        </div>
    </body>
</html>


