
<html>
    <body>
        <div>



   
            <!-- <form target="_blank" action="/api/bait" method="post" onsubmit="goHome()">
                <h2>Add a new bait!</h2>
                <input id="addBait" name="bait" type="text"
                placeholder="add a new bait" />
                <input type="submit" value="Submit"  />
              </form> -->

              <form id="newPost">
                <label>
                  Name
                  <input type="text" id="newPostVal" />
                </label>
                <button type="submit">Add</button>
              </form>
            
            
            
            </div>
            
            
               
            
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            
            
            <script>
            
            let BASE_URL = "http://192.168.1.123:5500"
            
            const form = document.getElementById('newPost');
            
            form.addEventListener('submit', async event => {
              event.preventDefault();
            
              const fishVal = document.querySelector('#newPostVal').value;
            
              const postVal = {
                bait: fishVal
              };
            console.log(postVal);
              const submitBait = await addBait(postVal);
              //updateTodoList(submitBait);
            });
            
            
              const addBait = async postVal => {
              try {
                const response = await axios.post(`${BASE_URL}/api/bait`, 
                 postVal,
                { headers: {
                  'Content-Type': 'application/x-www-form-urlencoded'
                
                }
              });
                const newBait = response.data;
        
                alert(`Added a new bait!`, newBait)
            
                console.log(`Added a new bait!`, newBait);

                window.location.href = "main";
            
                return newBait
              } catch (errors) {
                console.error(errors);
              }

             
              
            }
           
            
            
            </script>
        
<script>
    function goHome(){
        window.location.href = "main";
        console.log("i am going home")
        
    }

</script>


        </div>
    </body>
</html>


