<html>
    <body>

<div>


<!-- <form action="/api/fishtype" method="post">
    <h2>Add a new fish type!</h2>
    <input id="addAFish" name="fishtype" type="text"
    placeholder="add a new fish type" />
    <input type="submit" value="Submit" />
  </form> -->



  <form id="newPost">




      <input type="text" id="user_id" />
    
      <input type="text" id="fishtype" />

      

    <button type="submit">Add</button>
  </form>



</div>


   

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>

//fetch username data


let userid = document.getElementById("user_id");


const fetchUsername = () => {
         fetch(`http://localhost:5500/api/userdata`) //api for the get request
        .then((response) => response.json())
        .then((data) => {
         console.log(data);
        
         userid.value = data.id;
    
        })

      }

      fetchUsername();


let BASE_URL = "http://192.168.1.123:5500"

const form = document.getElementById('newPost');

form.addEventListener('submit', async event => {
  event.preventDefault();

  const fishVal = document.querySelector('#fishtype').value;

  const userID = document.querySelector('#user_id').value;

  const postVal = {
     user_id: userID,
    fishtype: fishVal,
  }

console.log(postVal);
  const submitFishType = await addFishType(postVal);
  //updateTodoList(submitFishType);
});


  const addFishType = async postVal => {
  try {
    const response = await axios.post(`${BASE_URL}/api/fishtype`, 
     postVal,
    { headers: {
      'Content-Type': 'application/x-www-form-urlencoded'
    
    }
  });
    const newFishType = response.data;

    alert(`Added a new fish type!`, newFishType)

    console.log(`Added a new Todo!`, newFishType);

    window.location.href = "/";

    return newFishType;
  } catch (errors) {
    console.error(errors);
  }
};


</script>



</body>
</html>