<div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');

    //build a bar chart that shows fish types by quantity caught

    //fetch data from my /alldata api

    let allData;
    
    fetch(`http://localhost:5500/api/fishcount`) //api for the get request
    .then((response) => response.json())
    .then((data) => {
     console.log(data);
     //fetchtest = JSON.stringify(data)
      allData = data;
   
    })
   
.then(() => {
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: allData.map(xcor => xcor._id), 
        datasets: [{
          label: '# CAUGHT',
          data: allData.map(ycor => ycor.myCount), 
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
});
  </script>