<!doctype html>
<html>
  <head>
    <title>fishApp</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  
  <style>
    .bar:hover {
      fill: brown;
    }
  </style>
  <body>
    <div class="container">
      <span>latitude: </span>
      <span id="latitude"></span><br />
      <span>longitude: </span>
      <span id="longitude"></span><br />

      <span>temperature:</span>
      <span id="temp"></span><br><br>
      <div id="fetchtest">fetch test </div>

      <a href="selectRecord">records</a>
      <a href="chartjs">fish type chart</a>
      <a href="pressureChart">surface pressure chart</a>



      <h1>Fish tracker</h1>

      <button id="addFish" name="addFish" onclick="addNewFish(fishSelect,fishText)">submit new fish type</button>   
      <button id="addBox" name="addFish" onclick="addBoxVis()">add new fish type</button>   

      
      <form action="/api/fishtype" method="post">
        <input id="addAFish" name="fishtype" type="text"
        placeholder="add a new fish type" />
        <input type="submit" value="Submit" />
      </form>
      
      <form action="/api/fish" method="post">
        <h2>Add a New Fish</h2>
        <p><code>POST /api/fish</code></p>

        <input
          id="tempbox"
          type="text"
          readonly="true"
          name="temp"
          placeholder="temp in Fahrenheit"
        />

        <input
          id="cloudcover"
          type="text"
          readonly="true"
          name="cloudcover"
          placeholder="cloud cover as %"
        />

        <input
          id="windspeed"
          type="text"
          readonly="true"
          name="windspeed"
          placeholder="windspeed 10m above ground"
        />

        <input
          id="precip"
          type="text"
          readonly="true"
          name="precip"
          placeholder="precip in inches"
        />
        <select id="fishtype" type="text"  name="fishtype" placeholder="fish type">
          <!-- <option value="largemouth bass">largemouth bass</option>
          <option value="smallmouth bass">smallmouth bass</option>
          <option value="walleye">walleye</option>
          <option value="crappie">crappie</option> -->
          
        </select>



        

        <input
          id="location"
          type="text"
          readonly="true"
          name="location"
          placeholder="location"
        />
        
        <input
          id="date"
          type="text"
          readonly="true"
          
          name="date"
          placeholder="date (yyyy-mm-dd)"
        />
        <select
          id="bait" 
          type="text"
        
          name="bait" 
          placeholder="bait">
          <option value="crankbait">crankbait</option>
          <option value="spinner">spinner</option>
          <option value="live worm">live worm</option>
          <option value="plastic worm">plastic worm</option>
          <option value="rooster tail">rooster tail</option>
          </select>

        <input
          id="surfacePressure"
          type="text"
          readonly="true"
          name="surfacePressure"
          placeholder="surfacePressure"
      />

        <input type="submit" value="Submit" />
      </form>
      <form action="/api/fishtype" method="get">
        <h2>Lookup fish!!!</h2>
        <p><code>GET /api/fishtype</code></p>
        <input
          class="fishdata"
          type="text"
          name="fishtype"
          placeholder="lookup fish type"
        />
        <input type="submit" value="Submit" />
      </form>

      <form action="/api/fishcount" method="get">
        <h2>Lookup fish!!!</h2>
        <p><code>GET /api/fishcount</code></p>
        <input
          class="fishdata"
          type="text"
          name="fishtype"
          placeholder="lookup # of fish type!"
        />
        <input type="submit" value="Submit" />
      </form>

      <form action="/api/fishbait" method="get">
        <h2>Lookup fish!!!</h2>
        <p><code>GET /api/fishbait</code></p>
        <input
          class="fishdata"
          type="text"
          name="fishbait"
          placeholder="lookup # of fish caught by bait!"
        />
        <input type="submit" value="Submit" />
      </form>


      <p>
        <strong>GET user's exercise log: </strong>
        <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
      </p>
      <p><strong>[ ]</strong> = optional</p>
      <p>
        <strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> =
        number
      </p>
    </div>
   


  <script>



//add options to combo boxes

let fishSelect = document.getElementById("fishtype");

let fishText = document.getElementById("addAFish");

function addNewFish(select, inputbox){

  var option = document.createElement("option");
  option.text = inputbox.value;
  select.add(option);

  
  fishBox.style.visibility = "hidden";

  fishAddButton.style.visibility = "hidden";
}

//make textbox to add a new fish appear

function addBoxVis(){
  fishBox = document.getElementById("addAFish");
  fishAddButton = document.getElementById("addFish");

  fishBox.style.visibility = "visible";

  fishAddButton.style.visibility = "visible";

}



  </script>



<script>

//fetch data from fishlib and add it to the fishtype selection box

let fishLib;

const fetchFishLib = () => {
     fetch(`http://localhost:5500/api/fishtype`) //api for the get request
    .then((response) => response.json())
    .then((data) => {
     console.log(data);
    
     fishLib = data;

    })
    .then(() => {

    // fill fishtype selection box with fishtype data from fishLib collection

    const fishTypeMap = fishLib.map(fishSpecies => {

      var option = document.createElement("option");
    option.text = fishSpecies.fishtype;
    fishSelect.add(option);

    })

  

    })
  }

  fetchFishLib();

</script>



    <script>
      let allFishData;



let latitude;
let longitude;

let temp_label = document.getElementById("temp");

let temp_box = document.getElementById("tempbox");

let cloud_box = document.getElementById("cloudcover");

let wind_box = document.getElementById("windspeed");

let precip_box = document.getElementById("precip");

let date_box = document.getElementById("date");

let location_box = document.getElementById("location");

let surfacePressure_box = document.getElementById("surfacePressure");


//create options object for third argument in geolocation function

let options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

//get current position with geolocation api

const successCallback = (position) => {
  console.log(position);
  document.getElementById("latitude").innerHTML =
    position.coords.latitude;
  document.getElementById("longitude").innerHTML =
    position.coords.longitude;
  latitude = position.coords.latitude;
  longitude = position.coords.longitude;

  console.log(longitude);
  console.log(latitude);

  const latLongString = latitude + "," + longitude;

  console.log(latLongString)

  //fetch data from open meteo with latitidue and longitude we acquired from the geolocation api

  fetch(
    `https://api.open-meteo.com/v1/forecast?timezone=auto&latitude=${latitude}&longitude=${longitude}&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&current=temperature_2m,relative_humidity_2m,cloud_cover,wind_speed_10m,precipitation,precipitation_probability,surface_pressure`,
  ) //api for the get request
    .then((response) => response.json())
    .then((data) => {
      temp_label.innerHTML = data.current.temperature_2m;

      // make temp form box = temp fetched from openmeteo api

      temp_box.value = data.current.temperature_2m;

      cloud_box.value = data.current.cloud_cover;

      wind_box.value = data.current.wind_speed_10m;

      precip_box.value = data.current.precipitation;

      surfacePressure_box.value = data.current.surface_pressure;

      location_box.value = latLongString;

      //date_box.value = data.current.time;

      date_box.value = new Date().toLocaleString('en-US')

      console.log(data);

      console.log(temp_label.value);
    });
};

const errorCallback = (error) => {
  console.log(error);
};

navigator.geolocation.getCurrentPosition(successCallback, errorCallback, options);
    </script>
  


  </body>
</html>