<!doctype html>
<html>
  <head>
    <title>fishApp</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  
  
  <body>
    <div class="container">

      <h1>Fish tracker</h1>

      
      <form action="/api/fish" method="post">
        <h2>Add a New Fish</h2>
        <p><code>POST /api/fish</code></p>

        <input
          id="tempbox"
          type="text"
          readonly="true"
          name="temp"
          placeholder="temp in Fahrenheit"
        />

        <input
          id="cloudcover"
          type="text"
          readonly="true"
          name="cloudcover"
          placeholder="cloud cover as %"
        />

        <input
          id="windspeed"
          type="text"
          readonly="true"
          name="windspeed"
          placeholder="windspeed 10m above ground"
        />

        <input
          id="precip"
          type="text"
          readonly="true"
          name="precip"
          placeholder="precip in inches"
        />
        <select id="fishtype" type="text"  name="fishtype" placeholder="fish type">

          
        </select>



        

        <input
          id="location"
          type="text"
          readonly="true"
          name="location"
          placeholder="location"
        />
        
        <input
          id="date"
          type="text"
          readonly="true"
          
          name="date"
          placeholder="date (yyyy-mm-dd)"
        />
        <select
          id="bait" 
          type="text"
        
          name="bait" 
          placeholder="bait">

          </select>

          <select
          id="bodyOfWater" 
          type="text"
        
          name="body_of_water" 
          placeholder="bait">
       
          </select>

        <input
          id="surfacePressure"
          type="text"
          readonly="true"
          name="surfacePressure"
          placeholder="surfacePressure"
      />

        <input type="submit" value="Submit" />
      </form>

      <a href="addFishType"><button id="addFishType">add a new fish type</button></a>
      <a href="addBait"><button id="addBait">add a new bait</button></a>
      <a href="addBodyWater"><button id="addBodyWater">add a new body of water</button></a>

      
    
    
    

    </div>



<script>

//fetch data from fishlib and add it to the fishtype selection box

let fishLib;

let fishSelect = document.getElementById("fishtype");

const fetchFishLib = () => {
     fetch(`http://localhost:5500/api/fishtype`) //api for the get request
    .then((response) => response.json())
    .then((data) => {
     console.log(data);
    
     fishLib = data;

    })
    .then(() => {

    // fill fishtype selection box with fishtype data from fishLib collection

    const fishTypeMap = fishLib.map(fishSpecies => {

      var option = document.createElement("option");
    option.text = fishSpecies.fishtype;
    fishSelect.add(option);

    })

  

    })
  }

  fetchFishLib();

</script>






<script>

// fetch bait data and load it into the bait selection box


let baitLib;

let baitSelect = document.getElementById("bait");

const fetchBaitLib = () => {
     fetch(`http://localhost:5500/api/bait`) //api for the get request
    .then((response) => response.json())
    .then((data) => {
     console.log(data);
    
     baitLib = data;

    })
    .then(() => {

    // fill fishtype selection box with fishtype data from fishLib collection

    const baitTypeMap = baitLib.map(bait => {

      var option = document.createElement("option");
    option.text = bait.bait;
    baitSelect.add(option);

    })

  

    })
  }

  fetchBaitLib();




</script>






<script>

  // fetch bait data and load it into the bait selection box
  
  
  let waterLib;
  
  let waterSelect = document.getElementById("bodyOfWater");
  
  const fetchWaterLib = () => {
       fetch(`http://localhost:5500/api/bodyofwater`) //api for the get request
      .then((response) => response.json())
      .then((data) => {
       console.log(data);
      
       waterLib = data;
  
      })
      .then(() => {
  
      // fill fishtype selection box with fishtype data from fishLib collection
  
      const bodyOfWaterMap = waterLib.map(water => {
  
        var option = document.createElement("option");
      option.text = water.body_of_water;
      waterSelect.add(option);
  
      })
  
    
  
      })
    }
  
    fetchWaterLib();
  
  
  
  
  </script>

    <script>
      let allFishData;



let latitude;
let longitude;

let temp_label = document.getElementById("temp");

let temp_box = document.getElementById("tempbox");

let cloud_box = document.getElementById("cloudcover");

let wind_box = document.getElementById("windspeed");

let precip_box = document.getElementById("precip");

let date_box = document.getElementById("date");

let location_box = document.getElementById("location");

let surfacePressure_box = document.getElementById("surfacePressure");


//create options object for third argument in geolocation function

let options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

//get current position with geolocation api

const successCallback = (position) => {
  console.log(position);
 
  latitude = position.coords.latitude;
  longitude = position.coords.longitude;

  console.log(longitude);
  console.log(latitude);

  const latLongString = latitude + "," + longitude;

  console.log(latLongString)

  //fetch data from open meteo with latitidue and longitude we acquired from the geolocation api

  fetch(
    `https://api.open-meteo.com/v1/forecast?timezone=auto&latitude=${latitude}&longitude=${longitude}&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&current=temperature_2m,relative_humidity_2m,cloud_cover,wind_speed_10m,precipitation,precipitation_probability,surface_pressure`,
  ) //api for the get request
    .then((response) => response.json())
    .then((data) => {


      // make temp form box = temp fetched from openmeteo api

      temp_box.value = data.current.temperature_2m;

      cloud_box.value = data.current.cloud_cover;

      wind_box.value = data.current.wind_speed_10m;

      precip_box.value = data.current.precipitation;

      surfacePressure_box.value = data.current.surface_pressure;

      location_box.value = latLongString;

      //date_box.value = data.current.time;

      date_box.value = new Date().toLocaleString('en-US')

      console.log(data);

    
    });
};

const errorCallback = (error) => {
  console.log(error);
};

navigator.geolocation.getCurrentPosition(successCallback, errorCallback, options);
    </script>
  


  </body>
</html>