

<html>
    <body>
        <div>
            <form action="/api/fish" method="post" id="newPost">


              <label for="userID">userID:</label>
              <input readonly="true" type="text" id="userID" name="user_id"/><br><br>
                
                  <select
                  id="bodyOfWater" 
                  type="text"
                
                  name="body_of_water" 
                  placeholder="bait">
               
                  </select>
            
                  <select
                      id="bait" 
                      type="text"
                    
                      name="bait" 
                      placeholder="bait">
                      </select>
                  <select
                      id="fishtype" 
                      type="text"  
                      name="fishtype" 
                      placeholder="fish type">
                  </select>


                
                  <input type="text" id="cloudcover" name="cloudcover" />
                  <input type="text" id="precip" name="precip" />
                  <input type="text" id="temp" name="temp" />
                  <input type="text" id="surfacePressure" name="surfacePressure" />
                  <input type="text" id="windspeed" name="windspeed" />
                  <input type="text" id="location" name="location" />
                  <input type="text" id="date" name="date" />
                </label>
                <button type="submit">Add</button>
              </form>

              
      <a href="addFishType"><button id="addFishType">add a new fish type</button></a>
      <a href="addBait"><button id="addBait">add a new bait</button></a>
      <a href="addBodyWater"><button id="addBodyWater">add a new body of water</button></a>
      <a href="selectRecord"><button id="selectRecord">edit records</button></a>
      <button id="weatherData" onclick="weatherData()">fetch weather data</button><br><br>

      <a href="table"><button id="selectRecord">table</button></a>
      <a href="chart"><button id="selectRecord">chart</button></a><br><br>

      <!-- <form action="/logout?_method=DELETE" method = "POST">
        <button type="submit">Log out</button>
        
        </form> -->

        <button onclick="logOut()">LOGOUT</button><br><br>

        <form action="/single" method="post" enctype="multipart/form-data">
          <input type="file" name="image" />
          <input type="submit" class="btn btn-default">  
        </form>

        </div>
    </body>

        
  
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

//delete request using fetch

let baseURL = "http://localhost:5500"

const logOut = async () => {
  await fetch(`${baseURL}/logout`, {
    method: "DELETE",
  
  })
  .then(() => {
    sessionStorage.clear();
    window.location.href = "/";

    })
}


</script>



<script>

//fetch username data


let userID = document.getElementById("userID");

let userSessionId;

const fetchUsername = () => {
         fetch(`http://localhost:5500/api/userdata`) //api for the get request
        .then((response) => response.json())
        .then((data) => {
         console.log(data);
        
         userID.value = data.id;

         userSessionId = sessionStorage.setItem("user_id", data.id);
    
        })

      }

  //fetch username or grab from session storage if already fetched

  let sessionId = sessionStorage.getItem("user_id");

  fetchUsername();

  if (!sessionId) {
    fetchUsername();
    console.log("username data fetched")
  }
  else {
    
    userID.value = sessionId;

    console.log("username data not fetched");


  }


</script>

<script>

  //declare global variables for form input boxes
    
    let temp_box = document.getElementById("temp");
    
    let cloud_box = document.getElementById("cloudcover");
    
    let wind_box = document.getElementById("windspeed");
    
    let precip_box = document.getElementById("precip");
    
    let date_box = document.getElementById("date");
    
    let location_box = document.getElementById("location");
    
    let surfacePressure_box = document.getElementById("surfacePressure");


//the code below that is commented out was used to post data using axios. I decided using the form action method to post data is sufficient and much more concise.

// let BASE_URL = "http://192.168.1.123:5500"

// const form = document.getElementById('newPost');



// form.addEventListener('submit', async event => {
//   event.preventDefault();



// let fish_box = document.getElementById("fishtype").value

// let bait_box = document.getElementById("bait").value

// let bodyWater = document.getElementById("bodyOfWater").value

// let temp_box = document.getElementById("temp").value

// let cloud_box = document.getElementById("cloudcover").value

// let wind_box = document.getElementById("windspeed").value

// let precip_box = document.getElementById("precip").value

// let date_box = document.getElementById("date").value

// let location_box = document.getElementById("location").value

// let surfacePressure_box = document.getElementById("surfacePressure").value
 


//   const postVal = {
//     user_id: userID.value,
//     body_of_water: bodyWater,
//     temp: temp_box,
//     cloudcover: cloud_box,
//     windspeed: wind_box,
//     precip: precip_box,
//     fishtype: fish_box,
//     location: location_box,
//     date: date_box,
//     bait: bait_box,
//     surfacePressure: surfacePressure_box,
//   };
  
// console.log(postVal);


//   const submitCatch =  await addCatch(postVal);
// })





//   const addCatch = async postVal => {
//   try {
//     const response =  await axios.post(`${BASE_URL}/api/fish`, 
//      postVal,
//     { headers: {
//       'Content-Type': 'application/x-www-form-urlencoded'
    
//     }
//   });




//     const newCatch = response.data;

//     alert(`Added a new catch!`, newCatch)

//     console.log(`Added a new catch!`, newCatch);

//     window.location.href = "table";


//     return newCatch;

//   } catch (errors) {
//     console.error(errors);
//   }

// }


 </script>


<script>

    //fetch data from fishlib and add it to the fishtype selection box
    
    let fishLib;
    
    let fishSelect = document.getElementById("fishtype");

    let retrieveFishTypeSession;

    
    const fetchFishLib = () => {
         fetch(`http://localhost:5500/api/fishtype`) //api for the get request
        .then((response) => response.json())
        .then((data) => {
         console.log(data);
        
         fishLib = data;

         //save data to local storage

         let dataToLocal = sessionStorage.setItem("fishtype",JSON.stringify(fishLib));
    
        })
        .then(() => {
    


        const fishTypeMap = fishLib.map(fishSpecies => {
    
          var option = document.createElement("option");
          option.text = fishSpecies.fishtype;
          fishSelect.add(option);
    
        })
    
      
    
        })
      }


  //check if session storage matches data in DB

  const checkFishTypeDB = () => {





    
  }




//check if fish type data in session storage and if so use it, otherwise fetch the data to fill selection boxes

   
      retrieveFishTypeSession = sessionStorage.getItem("fishtype")

      if (!retrieveFishTypeSession) {

        fetchFishLib()
       
        console.log(" fish type data fetched");

      }
      else {

        //parse session fish type data
       
        let parsedSessionData = JSON.parse(retrieveFishTypeSession);

        const fishTypeMap = parsedSessionData.map(fishSpecies => {

          var option = document.createElement("option");
          option.text = fishSpecies.fishtype;
          fishSelect.add(option);
      });
        console.log("fish type data not fetched");
    }

    
    </script>
    
    
    
    
    
    
    <script>
    
    // fetch bait data and load it into the bait selection box
    
    
    let baitLib;
    
    let baitSelect = document.getElementById("bait");

    let retrieveBaitSession;
    
    const fetchBaitLib = () => {
         fetch(`http://localhost:5500/api/bait`) //api for the get request
        .then((response) => response.json())
        .then((data) => {
         console.log(data);
        
         baitLib = data;

         //save data to local storage

         let dataToSession = sessionStorage.setItem("bait",JSON.stringify(baitLib));
    
        })
        .then(() => {
    
        // fill fishtype selection box with fishtype data from fishLib collection
    
        const baitTypeMap = baitLib.map(bait => {
    
          var option = document.createElement("option");
          option.text = bait.bait;
          baitSelect.add(option);
    
        })
    
      
    
        })
      }
    
      //fetchBaitLib();

      retrieveBaitSession = sessionStorage.getItem("bait")

      if (!retrieveBaitSession) {

        fetchBaitLib()
      
        console.log("bait data fetched");

      }
      else {
        console.log("bait data not fetched");
        let parsedSessionData = JSON.parse(retrieveBaitSession);

        const baitTypeMap = parsedSessionData.map(bait => {
    
            var option = document.createElement("option");
            option.text = bait.bait;
            baitSelect.add(option);
      });
      }
    
    
    
    
    </script>
    
    
    
    
    
    
    <script>
    
      // fetch bait data and load it into the bait selection box
      
      
      let waterLib;
      
      let waterSelect = document.getElementById("bodyOfWater");
      
      const fetchWaterLib = () => {
           fetch(`http://localhost:5500/api/bodyofwater`) //api for the get request
          .then((response) => response.json())
          .then((data) => {
           console.log(data);
          
           waterLib = data;

           saveToSession = sessionStorage.setItem("waterLib", JSON.stringify(waterLib));
      
          })
          .then(() => {
      
          // fill fishtype selection box with fishtype data from fishLib collection
      
          const bodyOfWaterMap = waterLib.map(water => {
      
            var option = document.createElement("option");
          option.text = water.body_of_water;
          waterSelect.add(option);
      
          })
      
        
      
          })
        }

        let retrieveSessionWaterLib = sessionStorage.getItem("waterLib");

        if (!retrieveSessionWaterLib) {

          fetchWaterLib();

          console.log("water data fetched");

        }

        else {

          //parse session water lib data

          waterSessionParse = JSON.parse(retrieveSessionWaterLib);

          const bodyOfWaterMap = waterSessionParse.map(water => {
      
            var option = document.createElement("option");
            option.text = water.body_of_water;
            waterSelect.add(option);

            console.log("water data not fetched");

    })



        }
      
       
      
      
      
      
      </script>
    
        <script>
          let allFishData;
    
    
    
    let latitude;
    let longitude;
    
   
     //fetch data from open meteo with latitidue and longitude we acquired from the geolocation api

     async function weatherData() {
    
    //create options object for third argument in geolocation function
    
    let options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };
    
    //get current position with geolocation api
    
    const successCallback = (position) => {
      console.log(position);
     
      latitude = position.coords.latitude;
      longitude = position.coords.longitude;
    
      console.log(longitude);
      console.log(latitude);
    
      const latLongString = latitude + "," + longitude;
    
      console.log(latLongString)
    
     
    
      fetch(
        `https://api.open-meteo.com/v1/forecast?timezone=auto&latitude=${latitude}&longitude=${longitude}&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&current=temperature_2m,relative_humidity_2m,cloud_cover,wind_speed_10m,precipitation,precipitation_probability,surface_pressure`,
      ) //api for the get request
        .then((response) => response.json())
        .then((data) => {
    
    
          // make temp form box = temp fetched from openmeteo api
    
          temp_box.value = data.current.temperature_2m;
    
          cloud_box.value = data.current.cloud_cover;
    
          wind_box.value = data.current.wind_speed_10m;
    
          precip_box.value = data.current.precipitation;
    
          surfacePressure_box.value = data.current.surface_pressure;
    
          location_box.value = latLongString;
    
          //date_box.value = data.current.time;
    
          date_box.value = new Date().toLocaleString('en-US')
    
          console.log(data);

          console.log(`weather data: ${data}`)

          return data;
    
        
        });
    };
  
    
    const errorCallback = (error) => {
      console.log(error);
    };
    
    navigator.geolocation.getCurrentPosition(successCallback, errorCallback, options);
  }
   
        </script>
</html>

